<section class="cart-total-page spad my-5">   
  <div class="container checkout-form">
    <h3> Salut gros ! Tu veux créer un nouveau pokémon ?</h3>
    
    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Titre :' %><br>
      <%= text_field_tag 'title', nil, placeholder: 'Simpson', maxlength: 40 %>
      <br /> <br />

      <%= label_tag 'Prix (en €):' %><br>
      <%= text_area_tag 'price', nil, placeholder: 'Entre 0 et 1000', maxlength: 14 %>
      <br /> <br />

      <%= label_tag 'Description :' %><br>
      <%= text_area_tag 'description', nil, placeholder: 'Mini Draco est le meilleur Pokémon !! Il est mignon et il devient trop fort en évoluant', size: "50x6" %>
      <br /> <br />    

      <%= label_tag 'Image :' %><br>
      <%= text_field_tag 'image_url', nil, placeholder: 'Image_url', maxlength: 100000 %>
      <br /> <br />

      <%= submit_tag "Enregistrer", :class => 'button' %>
    <% end %>
  </div>
</section>