<!--<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>
-->



<section class="cart-total-page spad my-5">   
  <div class="container checkout-form">
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <div class="row">
        <div class="col-lg-12">
          <h3>Changez votre mot de passe</h3>
        </div>
        <div class="col-lg-12">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>
        <div class="col-lg-11">
          <!--Password-->
          <div class="row">
            <div class="col-lg-3">
              <p class="in-name">Mot de passe</p>
            </div>
            <div class="col-lg-7">
              <%= f.password_field :password, placeholder: "ton mot de passe" %>
              <% if @minimum_password_length %>
                <small>(<%= @minimum_password_length %> characters minimum)</small>
              <% end %>
            </div>
          </div>
          <!--Password-->
          <div class="row">
            <div class="col-lg-3">
              <p class="in-name">confirmation du mot de passe</p>
            </div>
            <div class="col-lg-5">
              <%= f.password_field :password_confirmation, placeholder: "confirmation du mot de passe" %>
            </div>
          </div>
          <!--bouton-->
          <div class="row">
            <div class="col-lg-3">  
            </div>
            
            <div class="btn">
              <%= f.submit "Changer mon mot de passe", :class => 'btn btn-outline-secondary' %>
            </div>
          </div>
        </div>
      </div>
    <!--end of the form-->
    <% end %>
  </div>
</section>
