<!-- Header Info Begin -->
    <div class="header-info">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-12 text-left text-lg-center">
                    <div class="header-item">
                        <img src="img/icons/voucher.png" alt="">
                        <p>&#127752; Le saviez vous ? Chuck Norris a trouvé tous les Pokémon avec un téléphone fixe.</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
<!-- Header Info End -->
<section class="cart-total-page spad my-5">
  <div class="container">
    <form action="#" class="checkout-form">
      <div class="row">
        <div class="col-lg-12">
          <h3>Adresse de livraison</h3>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-2">
              <p class="in-name">Name*</p>
            </div>
            <div class="col-lg-5">
              <input type="text" placeholder="First Name">
            </div>
            <div class="col-lg-5">
              <input type="text" placeholder="Last Name">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <p class="in-name">Street Address*</p>
            </div>
            <div class="col-lg-10">
              <input type="text">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <p class="in-name">Country*</p>
            </div>
            <div class="col-lg-10">
              <select class="cart-select country-usa" style="display: none;">
                <option>USA</option>
              </select>
              <div class="nice-select cart-select country-usa" tabindex="0"><span class="current">USA</span>
                <ul class="list">
                  <li data-value="USA" class="option selected">USA</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <p class="in-name">City*</p>
            </div>
            <div class="col-lg-10">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <p class="in-name">Country</p>
            </div>
            <div class="col-lg-10">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <p class="in-name">Post Code/ZIP*</p>
            </div>
            <div class="col-lg-10">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-2">
              <p class="in-name">Phone*</p>
            </div>
            <div class="col-lg-10">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 text-right">
              <div class="diff-addr">
                <input type="radio" id="one">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-lg-12">
        <h3>Récapitulatif de la commande</h3>
      </div>
      <% if current_user.cart.items.count===0 %>
      <div>
        <p> Votre Panier est vide </p>
      </div>
      <% else %>
      <% current_user.cart.items.each do |item|%>
      <div class="container-fluid">
        <div class="row ">
          <div class="col-lg-6">
            <img src="<%= item.image_url %>" class="card-img-top" alt="Card image cap" style="width: 20%;">
          </div>
          <div class="col-lg-2">
            <p>Quantité: </p>
          </div>
          <div class="col-lg-2">
            <%= item.title %>
          </div>
          <div class="col-lg-2">
            <%= item.price %>
          </div> 
        </div>
      </div>

      <% end %>
      <% end %>

      <div class="row mt-4">
        <div class="col-lg-6 text-right">
          <p> Nombre d'article :</p>
        </div>
        <div class="col-lg-2">
          <%= current_user.cart.items.count %>
        </div>
        <div class="col-lg-2">
          <h4>Total :</h4>
        </div>
        <div class="col-lg-2">
          <%= current_user.cart.total_price %>$
        </div>
      </div>
    </div>
    </div>
  </div>
</section>




<%= form_tag orders_path do %>
  <article>
    <label>
      <span>Votre commande est de : <%=@amount%> €</span>
    </label>
  </article>

  <%= link_to "Mettre Stripe ici", root_path,  class: "btn"%>

<% end %>