<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page de <%= @user.first_name %> <%= @user.last_name %></title>
</head>

<body>

<!-- Header Info Begin -->
    <div class="header-info">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-12 text-left text-lg-center">
                    <div class="header-item">
                        <img src="img/icons/voucher.png" alt="">
                        <p>&#127752; Le saviez vous ? Chuck Norris a trouvé tous les Pokémon avec un téléphone fixe.</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
<!-- Header Info End -->
<section class="cart-total-page spad my-5">
  <div class="container">
    <form action="#" class="checkout-form">
      <div class="row">
        <div class="col-lg-12">
          <h3>Détail de la livraison</h3>
        </div>
        <div class="col-lg-6">
                  <div class="product-content">
                      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
                      <div class="pc-meta">
                        <h5>Age : fonction a definir demain</h5>
                      </div>
                      <p>Description : <%= @user.description %></p>
                      <ul class="tags">
                          <li><span>email : <%= @user.email %></li>
                          <li><span>Date de naissance :</span> <%= @user.dob %></li>
                          <li><span>Adresse :</span> <%= @user.address %></li>
                          <li><span>Code postal :</span> <%= @user.postcode %></li>
                      </ul>
                      <ul class="p-info">
                          <li><%= link_to "Modifier ces informations", edit_user_registration_path, { :type => "button",  :class => 'btn-outline-secondary' } %></li>
                      </ul>
                  </div>
              </div>
        <div class="col-lg-3">
          <div class="order-table">
            <div class="cart-item">
              <span>Product</span>
              <p class="product-name">Blue Dotted Shirt</p>
            </div>
            <div class="cart-item">
              <span>Price</span>
              <p>$29</p>
            </div>
            <div class="cart-item">
              <span>Quantity</span>
              <p>1</p>
            </div>
            <div class="cart-item">
              <span>Shipping</span>
              <p>$10</p>
            </div>
            <div class="cart-total">
              <span>Total</span>
              <p>$39</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="payment-method">
            <h3>Récapitulatif de la commande</h3>
              
            <button type="submit">Mettre Stripe ici</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>




<%= form_tag orders_path do %>
  <article>
    <label>
      <span>Votre commande est de : <%=@amount%> €</span>
    </label>
  </article>

  <%= link_to "Mettre Stripe ici", root_path,  class: "btn"%>

<% end %>

</body>