<%= render 'layouts/header' %>

<div class="d-flex justify-content-center mb-5">
  <div class="row">
    <section class="product-page" style= "display: flex; flex-flow: row wrap; justify-content: space-around">
      <div class="col-lg-6">
        <figure>
          <img src="<%= @item.image_url %>" class="rounded float-right" alt="Card image cap" style="width: 40%; height: 40%;">
        </figure>
      </div>
      <div class="col-lg-6">
        <div class="product-content">
          <h2><%= @item.title %></h2>
          <div class="pc-meta">
            <h5><%= @item.price %>€</h5>
          </div>
          <p><%= @item.description %></p>

          <%= form_tag({controller: "carts", action: "edit"}, method: "get") do %>

            <div class="product-quantity">
              <div class="pro-qty">
                <span class="dec qtybtn" id="minus">-</span>
                  <%= text_field_tag 'number_item', 1, min: 1, id: 'input'%>
                <span class="inc qtybtn" id="plus">+</span>
              </div>
            </div>

            <%= submit_tag "Ajouter au panier", :class => 'btn primary-btn pc-btn' %>

          <% end %>

        </div>
      </div>
    </section>
  </div>
</div>

<script>
  let input = document.getElementById('input');
  document.getElementById('plus').onclick = function(){
    input.value = parseInt(input.value, 10) + 1;
  }
  document.getElementById('minus').onclick = function(){
    if (input.value > 1) {
      input.value = parseInt(input.value, 10) - 1;
    }
  }
</script>
