<div class ="nav-bar">
  <header class="header-section">
    <div class="container-fluid navbar-fixed-top">
      
      <div class="inner-header">
        <a class="navbar-brand" href="/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1026px-Pok%C3%A9_Ball_icon.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="text-muted">Pokestore, <small><i> la boutique </i></small></span>
        </a>
        <% if user_signed_in? %>
          <i class="fa fa-shopping-cart fa-2x mr-3" aria-hidden="true"></i>
          <span>Vous avez sélectionné <%= current_user.cart.items.count %> item(s).</span>
        <% end %>
        <div class="user-access">
          <% if user_signed_in? %>
            <%= link_to "Mon panier", cart_path(current_user.cart), :type => "button" %>
            <%= link_to "Mon profil", user_path(current_user), { :type => "button",  :class => 'in' } %>
            <%= link_to "Admin", admin_items_path, { :type => "button",  :class => 'in' } %>
            <%= link_to "Déconnexion", destroy_user_session_path, { method: :delete, :type => "button",  :class => 'in' } %>
          <% else %>
            <%= link_to "Enregistrez-vous", new_user_registration_path, :type => "button" %>
            <%= link_to "Connexion", new_user_session_path, :type => "button",  :class => 'in' %>
          <% end %>
        </div>
      </div>
    </div>
  </header>
  <!-- Chuck Norris fact starts -->
  <div class="header-info">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-left text-lg-center">
          <div class="header-item">
            <img src="img/icons/voucher.png" alt="">
            <p>&#127752; Le saviez vous ? Chuck Norris a trouvé tous les Pokemon avec un téléphone fixe.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Chuck norris fact ends -->
</div>


