<!DOCTYPE html>
<html>
  <head>
    <title>PokemonStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSS & JS Styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  </head>

  <body>

<header class="header-section">
  <div class="container-fluid">
  <div class="inner-header">
  <div class="header-right">
    <a href="#">
      <img src="https://colorlib.com/preview/theme/violet/img/icons/bag.png" alt="">
    </a>
  </div>
  <div class="user-access">
    <a href="#">Enregistrez-vous</a>
    <a href="#" class="in">Connexion</a>
  </div>
  </div>
  </nav></div>

</header>

    <%= yield %>
  </body>
</html>
