<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="jpg" href="https://image.noelshack.com/fichiers-md/2015/07/1423868157-3697-card-communaute.png">
    <title>PokeStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSS & JS Styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
       <script src="https://kit.fontawesome.com/b9f969d6d6.js" crossorigin="anonymous"></script>
  </head>

  <body>

  <%= render 'layouts/navbar' %>
  <%= render 'layouts/flash' %>
  <div class="main">
    <%= yield %>
  </div>
  <%= render 'layouts/footer'%>
 </body>
</html>   
